.layout-header{
    position: fixed;
    width: 100%;
    background-color: rgba(27, 66, 100, 0.774);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(5px);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo{
    color: white;
    gap: 10px;
    cursor: pointer;
    padding-left: 15%;
    justify-content: left;
}

.nav-logo h1{
    font-size: 20px;
    text-wrap: nowrap;
}

.nav-logo, .nav-login{
    width: 20%;
    display: flex;
    align-items: center;
}

.nav-login{
    justify-content: right;
    padding-right: 15%;
}

i{
    color: white;
    display: flex;
    font-size: 30px;
    cursor: pointer;
}

header nav ul{
    display: flex;
    gap: 15px;
}

header nav ul li{
    display: flex;
}

.nav-link{
    background-color: var(--secundary-color);
    padding: 10px 25px;
    border-radius: 4px;
    color: var(--primary-color);
    transition: ease-in .5s;
}

.nav-link:hover{
    background-color: rgba(25, 108, 185, 0.712);
    transition: ease-out .5s;
    color: var(--primary-color);
}

.nav-link:focus{
    color: var(--primary-color);
}