main{
    background-repeat: no-repeat;
}

.welcome-card{
    position: relative;
    width: 100%;
}

.welcome-card-img{
    position: absolute;
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    filter: brightness(0.3);
    z-index: -1;
}

.welcome-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    text-align: center;
    padding: 0 25%;
}

.welcome-card-content-h2{
    font-size: 70px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.welcome-card-content-p{
    font-size: 20px;
    color: rgb(216, 216, 216);
    text-align: center;
}

.home-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 30px;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    animation: arrow-infinite 2s infinite alternate;
}

@keyframes arrow-infinite {
    from{
        transform: translate(-50%,0);
    }to{
        transform: translate(-50%,15px);
    }
}

.service-card{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    min-height: calc(100dvh - 10%);
}

.service-card-div h3{
    font-size: 40px;
    color: var(--bg-color);
}

.service-card-div p{
    font-size: 17px;
    font-weight: 500;
    color: rgb(167, 167, 167);
}

.service-card-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 40px;
    row-gap: 40px;
}