.header-input-card{
    display: flex;
}

.login-card{
    flex-basis: 300px;
    background-color: white;
    border-radius: 15px;
    flex-grow: 1 1;
    max-width: 500px;
    border-color: white;
}

.login-card div{
    position: relative;
}

.login-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.login-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.login-card-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: unset;
        transition: .5s;

}

/* todo el contenido de la pagina */
.login-card-layout {
    display: flex;
    width: 100%;
    padding: 0 15%;
}

.box-input{
    border-radius: 10px;
    width: 100%;
}

.box-input-container{
    margin-bottom: 1.5rem;
}

.boton-submit{
    background-color: #312b9f;
    border-color: #312b9f;
    width: 100%;
    margin-bottom: 1.5rem;
}

.card-body{
    width: 400px;
}

.toRegister{
    background-color: #312b9f00;
    font-size: 15px;
    border: none;
    color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
}

.toRegister:hover{
    background-color: rgba(255, 0, 0, 0);
    color: rgb(112, 20, 155);
}

.fi-rr-arrow-small-right,.fi-tr-insert-alt{
    color: rgb(37, 37, 37);
}
