.contact-form-container {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  background: #f0f7fc; /* azul muy suave que combina con el borde */
  border-radius: 14px; /* para redondear como el formulario */
  border: 3px solid #cfe2f3; /* borde exterior clarito */
}
/*  body{
   background-color: #47dbe036; 
} */
.buttonSubmit{
    background-color: var(--secundary-color);
    padding: 10px 25px;
    border-radius: 4px;
    color: var(--primary-color);
    transition: ease-in .5s;
}

.buttonSubmit:hover{
    background-color: rgb(25, 108, 185);
    transition: ease-out .5s;
    color: var(--primary-color);
}

.buttonSubmit:focus{
    color: var(--primary-color);
}