.contact-form-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: var(--bg-color); 
  border-radius: 14px; /* para redondear como el formulario */
  margin-bottom: 60px;
  filter: saturate(.5);
  color: aliceblue;
}
.buttonSubmit{
    background-color: var(--secundary-color);
    padding: 10px 25px;
    border-radius: 4px;
    color: var(--primary-color);
    transition: ease-in .5s;
}

.buttonSubmit:hover{
    background-color: rgb(25, 108, 185);
    transition: ease-out .5s;
    color: var(--primary-color);
}

.buttonSubmit:focus{
    color: var(--primary-color);
}