.specialist-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: stretch;
    max-width: 100%; /* 3 columnas de 400px aprox */
    margin: 0 auto;
}

.specialist-card-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 0px var(--bg-color);
    width: 400px;
    max-width: 500px;
    margin: 0 auto;
}

.specialist-card-img {
    border-radius: 20%;
    width: 100px;
    padding: 10px;
}

.specialist-card-div {
    padding: 2% 15%;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    min-height: calc(100dvh - 10%);
}

.title-specialist-card {
    font-size: 40px;
    color: var(--bg-color);
}

.specialist-card-div p {
    font-size: 17px;
    font-weight: 500;
    color: rgb(167, 167, 167);
}
